*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(215, 205, 19);
}


body{
    background-image: url("https://images.pexels.com/photos/53141/rose-red-blossom-bloom-53141.jpeg?cs=srgb&dl=pexels-pixabay-53141.jpg&fm=jpg");
    background-size: cover;
}